/*----Breadcrumbs----*/

.breadcrumb {
    padding: 0;
    margin: 100px;
    margin-top: 50px;
    align-items: center;
}

.breadcrumb-item {
    font-size: 14px;
    color: $blanco;

    a {
        font-size: 14px;
        color: $blanco;
        text-decoration: none;
    }

    &.active {
        color: $color-rosa;
    }

    +.breadcrumb-item::before {
        content: ">";
        color: $blanco;
        margin-right: 10px;
    }
}

@include responsive-breadcrumbs;
