/*----Inicio: Contenido del Main----*/

.productos-inicio {
    padding: 20px;
}

.contenedor-titulo-inicio {
    width: 100%;
}

.titulo-inicio,
.titulo-inicio-2 {
    @include centrar-titulo
}

.titulo-inicio h2,
.titulo-inicio-2 h2 {
    font-size: 20px;
    font-weight: 700;
}

.title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    column-gap: 1rem;
    font-weight: 400;
    width: 100%;

    &::before,
    &::after {
        content: "";
        height: 3px;
        border-radius: 2px;
        background-image: linear-gradient(to right, $color-rosa, $rojo);
        display: block;
    }
}

.destacados-todos,
.destacados-todos-2 {
    background-color: $azul-background;
    color: $blanco;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    height: 700px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.productos-destacados {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 10px);
    min-width: 300px;
    height: auto;
    max-height: 800px;
    background-color: #1a2736;
    box-shadow: $box-shadow;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin-right: 5px;

    img {
        width: calc(100% + 50px);
        margin: 0 -20px;
    }
}

.etiqueta {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $azul-background;
    color: $blanco;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.nombre-producto {
    h3 {
        font-size: 17px;
        font-weight: 700;
        padding: 0px;
    }

    p {
        font-size: 17px;
        color: $blanco;
        text-align: center;
        padding: 0;
    }

    .precio-anterior {
        text-decoration: line-through;
        color: $color-rosa;
        font-size: 16px;
    }

    .precio {
        font-size: 20px;
        color: $blanco;
        margin-top: 5px;
        position: relative;
    }

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-comprar {
    @include btn-comprar;
}

.logos-marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }

        img {
            height: 25px;
        }

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }
    }
}

/*----Estructura grids----*/

.container-grids {
    background-color: $azul-background;
    padding-bottom: 50px;

    .box-grids {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 25px;

        .boxes {
            box-shadow: $box-shadow;
            border-radius: 15px;
            background: $azul-secundario;
            text-align: center;
            padding: 30px 20px;

            img {
                height: 80px;
            }

            h3 {
                color: $color-rosa;
                font-size: 20px;
                padding: 10px 0;
            }

            p {
                color: $blanco;
                font-size: 16px;
                line-height: 1.8;
            }

            .btn-grids {
                @include btn-secundario;
            }
        }
    }
}

/*----Inicio: Suscripción----*/

.formulario-suscripcion {
    margin: 0;
    padding: 0;
    width: 100%;

    .subscribe-form {
        margin: 0;
        margin-bottom: 15px;
        padding: 10px;
        background-color: $azul-primario;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
        }

        input[type="email"] {
            padding: 8px 8px;
            border: 1px solid $azul-background;
            border-radius: 50px;
            font-size: 18px;
            margin-left: 20px;
            margin-right: 20px;
            width: 25%;

            &::placeholder {
                color: $azul-background;
                text-align: left;
                padding-left: 20px;
                font-size: 16px;
                font-style: italic;
            }
        }

        button[type="submit"] {
            padding: 8px 8px;
            background-color: $color-rosa;
            color: $blanco;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            font-size: 18px;
            transition: background-color 0.3s ease;

            &:hover {
                background-image: linear-gradient($rojo 5%, $color-rosa);
                transition: all 0.3s ease 0s;
            }
        }
    }
}

@include responsive-card;
@include responsive-inicio;